[[header]]

        <div class="card-consultar-chamado p-5">
          <div class="card shadow">
            <div class="card-header p-2">
              <h4 class="mt-2">Cadastro de Usuários</h4>
            </div>

            <div class="card-body">

            <table class="table table-light table-hover">
              [[tabela_vazia]]
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>E-mail</th>
                  <th>Senha</th>
                  <th class="text-center">Exluir</th>
                </tr>
              </thead>

              <tbody>
                [[cadastrados]]
              </tbody>
            
            </table>

              <div class="row mt-5">
                <div class="col-6">
                  <a href="[[base-url]]/home" class="btn btn-md btn-warning btn-block px-5 w-100">Voltar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  [[footer]]