[[header]]

<div class="col-4 m-auto pt-5">
  <div class='card-login pt-5'>
    <div class='card shadow'>
      <div class='card-header'>
        <h4 class='mt-2 text-center'>Login</h4>
      </div>
      <div class='card-body'>
        <form action='valida_login.php' method='post'>
  
          <div class='form-group my-3 d-flex align-items-center'>
            <i class='bi bi-envelope'></i>
            <input name='email' type='email' class='form-control' placeholder='E-mail'>
          </div>
  
          <div class='form-group my-3 d-flex align-items-center'>
            <i class='bi bi-lock'></i>
            <input name='senha' type='password' class='form-control' placeholder='Senha'>
          </div>
  
          <button class='btn btn-md btn-primary btn-block my-3 w-100' type='submit'>Entrar</button>
  
          <a href='[[base-url]]/views/SolicitarAcessoView.php' class='text-decoration-none'>Criar acesso</a>
  
        </form>
      </div>
    </div>
</div>

  [[footer]]