* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

input {
  padding-left: 40px;
}

i {
  font-size: 20px;
  margin-right: 8px;  
}

main {
  height: 80vh;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
}
